.learn-more {
  padding: 7px;
  background-color: var(--color-2);
  color: white;
  width: fit-content;
}

.shadow-light {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .learn-more {
    font-size: 24px;
  }
}
