.mw-s1-navbar {
  background: var(--dark-color);
  position: fixed;
  height: 50px;
  width: 100%;
  z-index: 3;
}

.mw-s1-navbar-container {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  margin: 0 auto;
}

.mw-s1-logo-area {
  height: 40px;
}
.mw-s1-logo-area > img {
  height: 40px;
  margin-top: 5px;
}

.mw-s1-menu-navbar {
  margin: 13px 0px;
}

.mw-s1-menu-navbar > a {
  text-decoration: none;
}

.mw-s1-menu-navbar > a > span {
  margin-left: 20px;
  color: var(--text-light);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}

.mw-s1-navbar-container > .hamburger-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .mw-s1-navbar-container {
    margin: 0 30px;
  }

  .mw-s1-navbar-container > .hamburger-icon {
    display: block;
    width: 32px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  .mw-s1-navbar-container > .hamburger-icon > img {
    width: 100%;
  }

  .mw-s1-navbar-container > .mw-s1-menu-navbar {
    display: none;
  }
}
