#section-6 {
  height: 500px;
}

.mw-s6-header {
  height: 50px;
  width: 80%;
  margin: 50px auto 0;
  font-size: 30px;
  font-style: italic;
}

.mw-s6-container {
  display: flex;
  justify-content: space-between;
  height: 350px;
  width: 80%;
  margin: 0 auto;
}

.mw-s6-container-images {
  display: flex;
  flex-direction: column;
}

.mw-s6-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mw-s6-text {
  display: flex;
  flex-direction: column;
}

.mw-s6-container-images {
  height: 100%;
  width: 30%;
}

.mw-s6-text-title {
  padding: 5px 0;
  font-size: 20px;
}

.mw-s6-text-date {
  padding: 5px 0;
  font-style: italic;
  font-weight: bold;
}

.mw-s6-text-description {
  font-size: 15px;
  font-weight: 300;
}

.mw-s6-text-readmore {
  padding: 20px 0;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .mw-s6-header {
    text-align: center;
  }

  .mw-s6-container {
    height: 1000px;
  }
}
