#section-6 {
    background-color: white;
    height: 500px;
  }

.mw-s6-header {
    height: 50px;
    width: 80%;
    margin: 0 auto;
    font-size: 30px;
    font-style: italic;
}

.mw-s6-container-images,
.mw-s6-container-text {
    height: 200px;
    width: 80%;
    margin: 0 auto;
}

.mw-s6-image,
.mw-s6-image-text {
    height: 100%;
    width: 33.33%;
    float: left;
}

.mw-s6-image > img,
.mw-s6-image-text > .mw-s6-text {
    height: 100%;
    width: 300px;
}

.mw-s6-image:nth-child(2) {
    transform: translate(8.5%);
}


.mw-s6-image:nth-child(3) > img,
.mw-s6-image-text:nth-child(3) > .mw-s6-text {
    float: right;
}

.mw-s6-image-text:nth-child(2) > .mw-s6-text {
    transform: translate(10%);
}

.mw-s6-text-title {
    padding: 5px 0;
    font-size: 20px;
}

.mw-s6-text-date {
    font-style: italic;
    padding: 5px 0;
    font-weight: bold;
}

.mw-s6-text-description {
    font-size: 15px;
    font-weight: 300;
}

.mw-s6-text-readmore {
    padding: 20px 0;
    text-decoration: underline;
}