:root {
  --color-1: #17B978;
  --color-2: #3D5AF1;
  --text-light: #E5E5E5;
  --dark-color: #0E153A;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
  }

.mw-background-text {
    font-size: 100px;
    padding: 300px 200px 0;
    font-weight: 300;
    font-style: normal;
}

#section-1 {
  height: 670px;
  position: relative;
}

.mw-background {
  background: url('/assets/images/intro.jpg');
  background-repeat: no-repeat;
  background-position:center center;
  background-attachment: fixed;
  background-size: 100%;
  width:100%;
  height: 100%;
  opacity: 0.6;
}

.mw-header {
  position: absolute;
    top: 50%;
    left: 15%;
    font-size: 100px;
}

.mw-container-1 {
  padding: 150px 200px 0;
  height: 500px;
  background-color: white;
}

.mw-container-1 > .mw-container-left {
  height: 250px;
  width: 50%;
  display: inline-block;
}

.mw-container-1 > .mw-container-left > img {
  width: 100%;
}

.mw-container-1 > .mw-container-right {
  float: right;
  height: 250px;
  width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
}

.mw-container-1 > .mw-container-right > .question {
  font-size: 70px;
  padding-left: 20px;
}

.mw-container-1 > .mw-container-right > .text {
  padding-left: 30px;
}

.mw-container-1 > .mw-container-right > button {
  background-color: var(--color-2);
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  margin: 20px 30px;
}

.mw-container-1 > .mw-container-bottom {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}

.mw-container-bottom > .mw-box > .mw-icon {
  width: 50px;
  display: inline-block;
}

.mw-container-bottom > .mw-box > .mw-icon > img {
  width: 100%;
  padding-bottom: 70px;
}


.mw-container-bottom > .mw-box > .text {
  display: inline-block;
  width: 258px;
}

.mw-container-bottom > .mw-box > .text > span:nth-child(1) {
  display: block;
  font-size: 24px;
  margin-bottom: 10px;
}

.mw-container-bottom > .mw-box > .text > span:nth-child(2) {
  display: block;
  margin-bottom: 30px;
}

.mw-container-1 > .mw-container-bottom > .column {
  height: 100%;
}

 .mw-container-bottom > .mw-box {
  width: 33.3333%;
  float: left;
}

.mw-container-bottom > .mw-box:nth-child(1) > .mw-icon {
  width: 50px;
  display: inline-block;
}

.mw-container-bottom > .mw-box-1 > .text {
  display: inline-block;
}

.mw-icon-text > .column-1 > span:nth-child(1),
.mw-icon-text > .column-2 > span:nth-child(1),
.mw-icon-text > .column-3 > span:nth-child(1) {
  display: block;
}

#mw-section-3 {
  height: 700px;
  padding: 100px 200px 0;
  background-color: white;
}

.mw-section-3-header {
  text-align: center;
  font-size: 18px;
}

.mw-section-3-header > span {
  display: block;
  padding-bottom: 40px;
}

.mw-section-3-header > span:nth-child(1) {
  font-size: 48px;
}

.mw-section-3-body {
  height: 300px;
  width: 100%;
  padding-top: 100px;
}

.mw-section-3-body-left,
.mw-section-3-body-right {
  height: 100%;
  width: 50%;
}
.mw-section-3-body-left {
  display: inline-block;
}

.mw-section-3-body-right {
  float: right;
}

.mw-section-3-body-left > .mw-section-3-body-left-image,
.mw-section-3-body-right > .mw-section-3-body-right-image {
      height: 70%;
      width: 70%;
      margin: auto;
}

.mw-section-3-body-left > .mw-section-3-body-left-image > img,
.mw-section-3-body-right > .mw-section-3-body-right-image > img {  
  width: 100%;
  height: 100%;
}

.mw-section-3-body-left-text,
.mw-section-3-body-right-text {
  height: 30%;
  width: 70%;
  margin: auto;
}

.mw-section-3-body-left-text > span:nth-child(1),
.mw-section-3-body-right-text > span:nth-child(1) {
  display: block;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
}
